.bins-data-page {
  padding: 20px 40px;
}

.bins-content {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.bins-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 5px;
}

.bins-subtitle {
  margin-bottom: 20px;
  color: #888888;
}

/* Filters */
.bins-filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.filter-dropdown, .text-field {
  height: 40px; /* Ensure consistent height */
  width: 150px;
  font-size: 14px;
  box-sizing: border-box; /* Consistent sizing */
}

.table-container .action-icons {
  display: flex;
  gap: 10px; /* Space between icons */
}

.sort-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 0.875rem;
  color: #4A4A4A;
  font-weight: 500;
  gap: 2px;
  padding-left: 10px;
}

/* Table Container */
.table-container {
  margin-top: 20px;
}

.location-cell {
  white-space: normal;      /* Allows line breaks within the cell */
  word-wrap: break-word;    /* Breaks long words onto the next line */
  max-width: 200px;         /* Optional: limits the cell width for better readability */
}

/* Table Styling */
.table-container .MuiTableCell-root {
  font-size: 14px;
  padding: 5px; /* Smaller padding for compact icons */
  color: #555
}

.table-container .MuiSvgIcon-root {
  font-size: 20px; /* Adjust size to be smaller */
}

.table-container .MuiTableCell-head {
  font-weight: 600;
  color: #333;
  background-color: #f9f9f9;
}

/* Image Styling in Table */
.table-container img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 4px;
}

/* Pagination */
.bins-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}

.bins-pagination .MuiTypography-root {
  font-size: 14px;
  color: #555;
}

.bins-pagination .MuiPagination-root {
  margin-left: auto;
  margin-right: auto;
}

.rows-per-page, .jump-to-page {
  width: 100px;
}

.rows-per-page {
  margin-right: 20px;
}
