.employees-page {
  font-family: Arial, sans-serif;
  padding: 80px 20px 20px;
  background-color: #f9f9f9;
  z-index: 1;
}

.employees-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  gap: 20px;
}

.header-title {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header-title h2 {
  margin: 0;
  font-size: 1.75em;
  color: #333;
  font-weight: bold;
}

.header-title p {
  font-size: 0.875em;
  color: #666;
  margin: 0;
}

.filter-select {
  margin-top: 10px;
  min-width: 160px;
}

.header-controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.header-controls .add-new-btn {
  margin-top: 20px;
  background-color: #28a745;
  color: white;
  font-weight: bold;
}

.search-field,
.add-new-btn {
  width: 200px;
}

.header-controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.table-container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: -5px; /* Adjusts the image alignment to the left */
}
