.service-areas-page {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.service-areas-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: -50px;
    min-height: 100px;
    padding: 50px 5px;
    overflow: visible;
}

.service-area-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.service-area-subtitle {
    color: #6b6b6b;
    margin-bottom: 5px;
}

.action-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.excel-button,
.add-new-button {
    padding: 8px 16px;
    font-size: 0.875rem;
    line-height: 1;
    display: flex;
    align-items: center;
}
.table-container .MuiTableCell-root {
    padding: 8px 12px;
    overflow: visible;
}

.table-container .MuiTableCell-root img {
    display: block;
    margin-left: 0;
    max-width: 20;
    height: auto;
}


.add-new-button {
    background-color: #02B74F !important;
    color: #ffffff !important;
    border-color: #02B74F !important;
}

.excel-button {
    border-color: #eae3e3 !important; 
    color: #333 !important; 
}

.table-container img {
    margin-left: 10px;
}

.add-new-button {
    background-color: #02B74F !important;
    color: #ffffff !important;
    border-color: #90ee90 !important;
}

@media (max-width: 768px) {
    .service-areas-header {
        flex-direction: column;
        align-items: flex-start;
        min-height: auto; 
    }

    .service-area-title {
        font-size: 1.2rem;
    }

    .action-buttons {
        width: 100%;
        justify-content: flex-start;
    }
}