.bins-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  }
  
  .bins-logo {
    height: 40px;
  }
  
  .bins-nav-links {
    display: flex;
    gap: 20px;
    flex-grow: 1;
    justify-content: center;
  }

  .bins-nav-link {
    color: #4a4a4a;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .bins-nav-link:hover,
  .active-link {
    color: #02B74F;
    background-color: #e6f7ee;
    padding: 5px 15px;
    border-radius: 20px;
  }
  
  .bins-badge-icons {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #f5f5f5;
    padding: 4px 8px;
    border-radius: 15px;
    height: 32px;
  }
  
  .badge {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .badge-icon {
    width: 20px;
    height: 20px;
  }
  
  .bins-profile-icon {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
  }
    /* Subtle Glow Animation */
    @keyframes blink {
      0%, 100% {
        opacity: 1;
      }
      50% {
        opacity: 0.3;
      }
    }
    
  .badge-icon {
      animation: blink 1.5s infinite;
  }