.item-edit-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.item-edit-form .MuiTextField-root {
    width: 100%; /* Ensures each input takes full width of its container */
}

.item-edit-form .file-upload {
    margin-top: 16px;
    width: 100%;
}

.file-upload img {
    border-radius: 4px;
}

.MuiDialogActions-root {
    justify-content: space-between;
}

.cancel-btn {
    color: #888;
    border: 1px solid #888;
}

.cancel-btn:hover {
    background-color: #f0f0f0;
}

.save-btn {
    background-color: #28a745;
    color: white;
}
.save-btn:hover {
    background-color: #218838;
}
.item-edit-form .MuiTextField-root {
    width: 100%;
  }
  