.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.nav {
    display: flex;
    gap: 10px;
    font-size: 1em;
    font-weight: 600;
    color: #555;
}

.nav span {
    cursor: pointer;
    color: #555;
    padding: 4px 10px;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav .active-link {
    color: #02B74F;
    background-color: #e6f7ee;
    padding: 5px 15px;
    border-radius: 20px;
}

.nav span:hover {
    color: #28a745;
    background-color: #e6f7ee;
}

.header-icons-container {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #f5f5f5;
    padding: 4px 8px;
    border-radius: 15px;
    height: 32px;
}

.badge-container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.badge-icon {
    width: 18px;
    height: 18px;
}

.badge-number {
    font-size: 0.8em;
    color: #555;
}

.profile-icon-button {
    padding: 0;
}

.profile-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
}

.scanblink {
    animation: blink 1.5s infinite;
}
