.status-dropdown-container {
    display: flex;
    align-items: center;
}

.status-dropdown {
    min-width: 100px;
    margin-right: 8px;
    font-size: 0.875em;
    height: 20px;
    border-radius: 6px;
}

.status-dot {
    font-size: 0.75em;
}
